*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 0px;
}

.fb2022-copy {
  display: none;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 28%, rgba(9,9,121,1) 75%, rgba(60,164,149,1) 100%);
}

section {
  margin-top: 0px;
}



/* blog single page navigation */
.topnav {
  background: rgb(0,18,255);
  background: linear-gradient(90deg, rgba(0,18,255,1) 9%, rgba(16,9,121,1) 31%, rgba(0,0,0,1) 86%);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

